header {
  width: 100%;
  background-color: #fff;
}
.new {
  margin-left: 1rem;
  margin-top: 100px;
}
.new,
.cement {
  font-family: 'Secular One', sans-serif;
  color: #f7b045;
  font-size: 30px;
}
.york,
.tile {
  font-family: 'Ubuntu', sans-serif;
  color: #817d86;
  font-size: 30px;
}
.box {
  height: 500px;
  width: 75%;
  max-width: 900px;
  margin: auto;
  margin-top: 7%;
  box-shadow: 15px 15px 15px #888;
  text-align: center;
  z-index: 100;
  background: linear-gradient(#fff, #ffa500);
}
.logo2 {
  padding-top: 20px;
}
ul {
  list-style-type: none;
  color: #fff;
}
li {
  display: inline-block;
}
@media screen and (min-width: 924px) {
  .first {
    margin-right: 10px;
    margin-top: 5em;
  }
  ul {
    font-size: 20px;
  }
  i.smile {
    font-size: 28px;
  }
  h3 {
    font-size: 1.6em;
  }
}
@media screen and (max-width: 924px) {
  .first {
    margin-right: 10px;
  }
  h1 {
    font-size: 25px;
  }
  i.smile {
    font-size: 18px;
  }
  h3 {
    font-size: 1.2em;
  }
  i.att {
    font-size: 2em;
    margin-top: 2em;
  }
}
i.att {
  vertical-align: 20%;
}
